:root{
    --primary-font-family: Lato;
    --primary-text-color: rgba(39, 39, 39, 0.6);
    --primary-header-color: #272727;
    --primary-bold-fontSize: 4rem;
}
*{
    margin: 0px;
    padding:0px;
    box-sizing:border-box;
    font-family: var(--primary-font-family);
}
/* Header Part */
.header-container{
    width: 100%;
    height: 100vh;
    background-color: rgb(229 84 115 / 10%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.header-img{
    width: 40%;
    height: 100%;
}
.header-img img{
    width: 100%;
    height: 100%;
    display: block;
}
.header-text{
    width: 40%;
    padding-bottom: 1rem;
}
.header-text h2{
    font-size: var(--primary-bold-fontSize);
    color: var(--primary-header-color);
    font-weight: bold;
    margin-bottom: 30px;
}
.header-text p{
    font-size: 15px;
    color: var(--primary-text-color);
    margin-bottom: 30px;
    line-height: 24px;
}
.primary-btn{
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: bold;
    background-color: #E55473;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

/* Featured Part */
.feature-text{
    width: 50%;
    margin: 70px auto;
    text-align: center;
}
.feature-text h4{
    font-weight: bold;
    font-size: 30px;
    color: var(--primary-header-color);
    margin-bottom: 20px;
}
.feature-text p{
    font-size: 18px;
    color: var(--primary-text-color);
}
.feature-cart{
    width: 80%;
    margin: 100px auto;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    gap: 1rem;
}
.cart{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.cart h5{
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: underline;
}
.cart-1 > div{
    background-color: rgba(167, 33, 98, 0.15);
}
.cart-2 > div{
    background-color: rgba(5, 152, 160, 0.15);
}
.cart-3 > div{
    background-color: rgba(71, 125, 17, 0.15);
}
.img-container{
    height: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 50% 50% 0 0;
    
}
.img-container img{
    height: 70%;

}

/* service part */
.service{
    width: 80%;
    margin: 20px auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background-color: rgba(39, 39, 39, 0.05);
    border-radius: 5px;
    margin-bottom: 100px;
}
.service div p{
    color: var(--primary-text-color);
    font-size: 18px;
    padding: 5px 0;
}

/* Offer Part */
.offer{
    width: 100%;
    background-color: rgba(229, 84, 115, 0.05);
    margin-bottom: 100px;
}
.offer-container{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.offer-text{
    max-width: 500px;
    text-align: center;
}
.offer-text h4{
    font-size: 1.5rem;
    color: var(--primary-header-color);
    margin-bottom: 24px;
}
.offer-text h4 span{
    color: #E55473;
}
.offer-text p{
    font-size: 16px;
    margin-bottom: 24px;
    color: var(--primary-text-color);
}
.offer-img{
    max-width: 500px;
}
.offer-img img{
    max-width: 250px;
}


/* Instragram part */
.instragram{
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.instragram-text{
    max-width: 500px;
    text-align: center;
    margin: 50px auto;
}
.instragram-text h4{
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--primary-header-color);
    margin-bottom: 10px;
}
.instragram-text p{
    font-size: 15px;
    color: var(--primary-text-color);

}
.instragram-img{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.instragram-img img{
    max-width: 250px;
}

/* Form Part */
.form{
    max-width: 1100px;
    margin: 0 auto;
    padding: 80px 0;
    margin-bottom: 100px;
    background-image: url('../Flower-Asset/Rectangle 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}
.form-text{
    margin: 0 auto;
    text-align: center;
}
.form-text h4{
    margin: 10px 0;
    font-size: 1.7rem;
    color: var(--primary-header-color);
    font-weight: bold;
}
.form-text p{
    font-size: 15px;
    color: var(--primary-text-color);
    margin-bottom: 10px;
}
.form form{
    max-width: 600px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.form form input{
    width: 80%;
    padding: 10px 8px;
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 5px;
}



/* Responsive For Mobile  */
@media screen and (max-width:768px) {
    .header-container{
        height: 100%;
        flex-direction: column;
        gap: 0;
    }
    .header-img{
        order: 1;
        width: 50%;
        height: auto;
    }
    .header-text{
        order: 2;
        width: 80%;
    }
    .header-text h2{
        font-size: 2rem;
    }
    .feature-text{
        width: 80%;
    }
    .feature-cart{
        flex-direction: column;
    }
    .img-container{
        width: 350px;
        margin: 0 auto;
    }
    .cart{
        justify-content: center;
    }
    .service{
        width: 300px;
        flex-direction: column;
    }
    .service div{
        margin-bottom: 25px;
    }
}

/* Responsive For Tablet */

@media screen and (min-width: 769px) and (max-width: 992px) {
    .header-container{
        height: 100%;
    }
    .header-text{
        margin-bottom: 5px;
    }
    .header-text h2{
        font-size: 2rem;
    }
    .header-img{
        height: auto;
    }
    .feature-cart{
        width: 95%;
        gap: 0.7rem;
    }
    .img-container{
        height: 300px;
    }
}