:root{
    --primary-font-family: Lato;
    --primary-text-color: rgba(39, 39, 39, 0.6);
    --primary-header-color: #272727;
    --primary-bold-fontSize: 4rem;
}
*{
    margin: 0px;
    padding:0px;
    box-sizing:border-box;
    font-family: var(--primary-font-family);
}
/* Header Part */
.header-container{
    width: 100%;
    height: 100vh;
    background-color: rgb(229 84 115 / 10%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.header-img{
    width: 40%;
    height: 100%;
}
.header-img img{
    width: 100%;
    height: 100%;
    display: block;
}
.header-text{
    width: 40%;
    padding-bottom: 1rem;
}
.header-text h2{
    font-size: var(--primary-bold-fontSize);
    color: var(--primary-header-color);
    font-weight: bold;
    margin-bottom: 30px;
}
.header-text p{
    font-size: 15px;
    color: var(--primary-text-color);
    margin-bottom: 30px;
    line-height: 24px;
}
.primary-btn{
    border: none;
    padding: 18px 40px;
    border-radius: 10px;
    font-weight: bold;
    background-color: #E55473;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

/* Featured Part */
.feature-text{
    width: 50%;
    margin: 100px auto;
    text-align: center;
}
.feature-text h4{
    font-weight: bold;
    font-size: 30px;
    color: var(--primary-header-color);
    margin-bottom: 20px;
}
.feature-text p{
    font-size: 18px;
    color: var(--primary-text-color);
}
.feature-cart{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    gap: 1rem;
}
.cart{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.cart h5{
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: underline;
}
.cart-1 > div{
    background-color: rgba(167, 33, 98, 0.15);
}
.cart-2 > div{
    background-color: rgba(5, 152, 160, 0.15);
}
.cart-3 > div{
    background-color: rgba(71, 125, 17, 0.15);
}
.img-container{
    height: 350px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 50% 50% 0 0;
    
}
.img-container img{
    height: 70%;

}



/* Responsive For Mobile  */
@media screen and (max-width:768px) {
    .header-container{
        height: 100%;
        flex-direction: column;
        gap: 0;
    }
    .header-img{
        order: 1;
        width: 50%;
        height: auto;
    }
    .header-text{
        order: 2;
        width: 80%;
    }
    .header-text h2{
        font-size: 2rem;
    }
    .feature-text{
        width: 80%;
    }
    .feature-cart{
        flex-direction: column;
    }
    .img-container{
        width: 350px;
        margin: 0 auto;
    }
    .cart{
        justify-content: center;
    }
}

/* Responsive For Tablet */

@media screen and (min-width: 769px) and (max-width: 992px) {
    .header-container{
        height: 100%;
    }
    .header-text{
        margin-bottom: 5px;
    }
    .header-text h2{
        font-size: 2rem;
    }
    .header-img{
        height: auto;
    }
    .feature-cart{
        width: 95%;
        gap: 0.7rem;
    }
    .img-container{
        height: 300px;
    }
}